/* Noted text container */
.tl-note {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
}

/* The actual TL note (appears on top) */
.tl-note .tl-note-text {
  font-style: italic;
  visibility: hidden;
  min-width: fit-content;
  max-width: max-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 9px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Note arrow */
.tl-note .tl-note-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the noted text (hide and show the TL note) */
.tl-note .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the TL note) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.in-circle {
  display: inline-block;
  background: #4444ff;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.2em;
  opacity: 69%;
  font-family: Verdana;
}
